alembic==1.7.4
asgiref==3.4.1
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
fastapi==0.68.1
fastapi-utils==0.2.1
flake8==4.0.1
greenlet==1.1.2
h11==0.12.0
idna==3.4
iniconfig==2.0.0
Mako==1.2.4
MarkupSafe==2.1.3
mccabe==0.6.1
mysql-connector-python==8.0.26
mysqlclient==2.0.3
packaging==23.2
pluggy==1.3.0
protobuf==3.19.1
py==1.11.0
pycodestyle==2.8.0
pydantic==1.8.2
pyflakes==2.4.0
pytest==6.2.5
pytest-env==0.6.2
requests==2.26.0
SQLAlchemy==1.4.23
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.18
uvicorn==0.15.0
